<h1> Please sign in </h1>

<form action = '/sessions' method = 'post'> <br /><br />

  Email: <input name = 'email' type 'email'><br /><br />

  Password: <input name = 'password' type = 'password'><br /><br />

  <input type = 'submit' value = 'Sign in'>

</form>
