<h1> Sign up </h1>

<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<form action = '/users' method = 'post'>
  Name: <input type = 'text' name = 'name' value = '<%= @user.name %>'> <br />
  Email: <input type = 'email' name = 'email' value = '<%= @user.email %>' required> <br />
  Password: <input type = 'password' name = 'password'> <br/><br/>
  Re-enter password: <input type = 'password' name = 'password_confirmation'> <br />
  <input type = 'submit' value = 'Register'>


</form>
